.popup__input-error {
    margin: 0;
    padding: 0;
    outline: none;

    display:inline-block;

    max-width: 358px;
    width: 100%;
    box-sizing: border-box;
    min-height: 30px;
    visibility: hidden;
    opacity: 0;
}