.popup__input-field {
    max-width: 358px;
    width: 100%;
    min-height: 27px;
    /* margin-top: 30px; */

    border: none;
    border-bottom: 1px solid rgba(1, 1, 1, .2);

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
    /* color: #C4C4C4; */
}
@media (max-width: 767px) {
    .popup__input-field {
        max-width: 238px;
    }
}
.popup__input-field:first-of-type {
    margin-top: 0;
}

/* .popup__input-field:invalid {
    border-bottom: 1px solid #FF0000;
 } */


