.elements {
    max-width: 880px;
    width: 100%;
    outline: auto;
    margin: 0 auto;
    padding: 0;
}

/* @media  (max-width: 907px) {
    .elements {
        padding: 0 27px;
    }
}

@media (max-width: 767px) {
    .elements {
        padding: 0 19px;
    }
    
} */